  .mainImage
  {
  	max-width:283px; 
  	max-height:290px;
  }
  .shelfList
  {
  	position: relative;
	left: -131px;
  }
  core-toolbar 
  {
    background: #000000;
    color: white;
  }
  #tabs 
  {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
